body {
  background-image: url("../images/banner _.jpeg");
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center;
  margin: 0;
}

.nav-menu {
  display: flex;  
  justify-content: flex-end;       
  list-style-type: none; 
  padding: 0;            
  margin: 0;  
  font-size: 30px;     
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
     
}


.nav-menu li {
  margin-right: 30px; 
}


.nav-menu li a {
  text-decoration: none; 
  color: #e3d6e7;    
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}
.nav-menu :hover{
  color:#ccb5c8;
  transition: color 0.3s ease;
}
h1, section {
  text-align: right;
}
h1{
  font-size: 70px;
  margin-right: 20px;
}
h4{
  font-size:30px;
}
.bro{
  margin-top: 100px;
  color: white;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
  font-size: 30px;
  text-decoration: underline;
}
main{
  margin-right: 20px;
}
footer{
  text-align: center;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
