body {
  background-image: url("../images/banner _.jpeg");
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center;
  margin: 0;
}
